/* 
    General Styles used on every website (Don't Repeat Yourself)
*/
.navbar {
    background-color: white;
    font-family: "Playwrite IT Moderna", cursive;
    font-size: 85%;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    position: fixed;
    top: 0;
    z-index: 9999;
    height: 110px;
}
.cartButton{
    text-decoration: none;
    color: black;
}

@media(max-width: 991px){
    .sidebar{
        background-color: whitesmoke;
        backdrop-filter: blur(10px);
    }
}
.dropdown-item{
    font-size: 85%;
}
.fa-cart-shopping{
    position: absolute;
    top: 49px;
    color: black;

}
.landing-page{
    padding-top: 100px;
}
.search-bar-results{
    padding-top: 200px;
}

.hero-carousel {
    height: calc(75vh - 3.5rem);
}

.c-item{
    height:480px;
}
.c-img{
    height:100%;
    object-fit: cover;
}
li::marker{font-size:0;}
.productos, .detalle-producto{
    padding-top: 150px;
    padding-left: 50px;
}
.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 2rem;
}
.card-price, .card-body{
    font-weight: normal;
}
.smallimages{
    padding-left: 20px;;
}
.smallimages img{
    height:60px;
    margin: 10px 0;
    display: block;
    cursor: pointer;
    opacity: 0.6;
    transition: 0.2s;
}
.smallimages img .active{
    opacity:1;
}
.smallimages img:hover{
    opacity:1
}
.product-info{
    padding: 30px 30px 0px 0px;
}
.see-more-button{
    align-items: center;
    padding: 10px;
    display: flex;
    height: 100%;
    justify-content: center;
    background: white;
    color: black;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 0.8rem;
    border-radius: 6px;
}
.add-cart-button{
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    background: black;
    color: white;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 0.8rem;
    border-radius: 6px;
}
.buy-now-button{
    align-items: center;
    padding: 10px;
    display: flex;
    height: 100%;
    justify-content: center;
    background: black;
    color: white;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 0.8rem;
    border-radius: 6px;
}
.add-cart-details-button{
    align-items: center;
    padding: 10px;
    display: flex;
    height: 100%;
    justify-content: center;
    background: white;
    color: black;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.2rem;
    border-radius: 6px;
}
.leftarrow, .rightarrow {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
.leftarrow {
    position: absolute;
    top: 875px;
    left: 250px; 
}
.rightarrow{
    position: absolute;
    top: 875px;
    right: 250px; 
}
.slick-slider {
    margin-inline: -30px !important;
  }

.slick-slide {
    >div { 
      margin-inline: 15px !important;
    }
  }

.footer-body{
    background: #ef9453;
    height: 400px;
}
.cart{
    padding-top: 200px;
}
.card-img-top{
    align-items: center;
}
.product-list, .resumen-compra{
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0 rgba(0, 0, 0, 0.1)
}

.qty-btn{
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: #eee;
    color: #555;
    border-radius: 50%;
    cursor: pointer;
}

hr.custom-hr {
    width: 66%;
  }

  /* For small devices and larger (≥576px) */
  @media (min-width: 576px) {
    hr.custom-hr {
      width: 64%;
    }
  }
  
  /* For medium devices and larger (≥768px) */
  @media (min-width: 768px) {
    hr.custom-hr {
      width: 87%;
    }
  }
  
  /* For large devices and larger (≥992px) */
  @media (min-width: 992px) {
    hr.custom-hr {
      width: 117%;
    }
  }

/* For x-large devices and larger (≥992px) */
@media (min-width: 1200px) {
    hr.custom-hr {
        width: 100%;
    }
    }

.fa-phone, .fa-instagram, .fa-facebook, .fa-whatsapp{

    text-decoration: none;
    color: black;
}
